
.about-banner {
    border-bottom: 2px solid var(--blue);
    min-height: 20rem;
    background: var(--lightest-blue);
}


.about-banner .banner-container {
    width: 78%;
    margin: 0 auto;

    display: flex;
    padding: 3rem 0 3rem 0;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
    justify-items: center;
}

.about-banner .banner-text {
    width: 40%;
}

.about-banner .banner-heading {
    font-size: 2.5rem;
}

.about-banner .banner-heading span {
    background: linear-gradient(to right, var(--pink),
    #cf23cf);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    filter: drop-shadow(-1px -1px 1px var(--black));

}

.about-banner .banner-para {
    font-size: 1.1rem;
    font-weight: 300;
}

.about-banner .banner-img-container {
    width: 40%;
}

.about-banner .banner-img {
    width: 100%;
}

@media only screen and (max-width: 1050px) {

    .about-banner .banner-container {
        flex-direction: column;
        gap: 3rem;
    }

    .about-banner .banner-text {
        width: 100%;
    }

    .about-banner .banner-container {
        width: 70%;
        padding-top: 3rem;
    }


    .about-banner .banner-text {
        width: 100%;
    }

    .about-banner .banner-heading {
        font-size: 2rem;
    }

    .about-banner .banner-para {
        font-size: 1.1rem;
    }

    .about-banner .banner-img-container {
        width: 90%;
    }
}


@media only screen and (max-width: 700px) {
    .about-banner .banner-container {
        flex-direction: column;
        gap: 3rem;
    }

    .about-banner .banner-text {
        width: 100%;
    }

    .about-banner .banner-container {
        width: 90%;
        padding-top: 3rem;
    }

    .about-banner .banner-text {
        width: 100%;
    }

    .about-banner .banner-heading {
        font-size: 2rem;
    }

    .about-banner .banner-para {
        font-size: 1.1rem;
    }

    .about-banner .banner-img-container {
        width: 90%;
    }
}

