
.about-card {
    box-shadow: 0 3px 8px var(--light-blue);
    border-radius: 0.6rem;
    margin-top: 1.2rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    min-width: 21rem;
    margin-bottom: 1rem;
    max-width: 25rem;
    /*width: calc(100% - 4rem);*/
}

.about-card:hover {
    transform: translateY(-0.5rem);
}

.about-card-container {
    padding: 2rem;
}

.about-card-container .name {
    margin-top: 0.5rem;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.2rem;
}

.about-card-container .position {
    /*line-height: 10px;*/
    margin-top: 0.1rem;
}

.about-card-container .position:before {
    content: "\2022";
    color: var(--blue);
    opacity: 1 !important;
    font-weight: bold;
    transform: scale(2);
    display: inline-block;
    width: 15px;
    margin-left: 7px;
    margin-right: -3px;
}

.about-card-container hr {
    border: 0.4px solid var(--light-blue);
    width: 100%;
    margin: 0.8rem 0 0.5rem;

}

.about-card-container .img {
    width: 100%;
    border-radius: 0.5rem;
}

.about-card-container .below-picture-line {
    margin-top: 0.3rem;

}


.about-card-container .email {
    margin-top: 0.5rem;
    font-weight: 300;
}

.about-card-container strong {
    color: var(--light-blue);
}

@media only screen and (max-width: 900px) {
    .about-card {
        min-width: 15rem;
    }
}